.weather {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #FFC371, #FD746C, #FD746C, #3B9AB2);
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .time {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .location {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .temp {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .temp img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  
  .temp h3 {
    font-size: 72px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  .details {
    margin-top: 40px;
  }
  
  .main, .sub {
    text-align: center;
  }
  
  .main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  }
  
  .sub {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    color: white;
    padding: 10px;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
  
  
  .forecast-container {
    margin-top: 40px;
    border-top: 2px solid #ffffff;
    padding-top: 40px;
  }
  
  .forecast-items {
    display: flex;
    justify-content: space-between;
  }
  
  .forecast-item {
    text-align: center;
    margin-right: 20px;
  }
  
  .forecast-item:last-child {
    margin-right: 0;
  }
  
  .forecast-item .time {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .forecast-item .temp {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  .forecast-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .top-button {
    margin: 20px;
    text-align: center;
  }
  
  .bottom-button {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .top-button button, .bottom-button button {
    background-color: #2196f3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .top-button button:hover, .bottom-button button:hover {
    background-color: #0c7cd5;
  }
  
  .bottom-button button {
    background-color: #f44336;
  }
  
  .bottom-button button:hover {
    background-color: #d93025;
  }
  
  .top-right-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .top-right-button a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  .top-right-button a:hover {
    background-color: #f2f2f2;
  }
  