<div class="weather-container">
    <div class="weather-search">
      <h2 class="search-title">What's the Weather Like?</h2>
      <div class="input-group mt-3">
        <input class="form-control" type="text" #userInput placeholder="Enter City Name...">
        <div class="input-group-append">
          <button class="input-group-text btn btn-primary" (click)="getCity(userInput.value)">Search</button>
        </div>
      </div>
    </div>
  
    <div class="weather-info">
      <div class="weather-header">
        <h1 class="header-title">Weather in {{weather.name}}, {{weather.sys.country}}</h1>
      </div>
  
      <div class="weather-body">
        <div class="weather-temp">
          <img src="../../assets/images/{{weather.weather[0]?.icon}}.png" alt="">
          <h2 class="temp-title">{{weather.main.temp | number:'1.0-0'}}&#176;C</h2>
          <p class="temp-description">{{weather.weather[0]?.description}}</p>
        </div>
  
        <div class="weather-details">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="details-label">Humidity</td>
                <td class="details-value">{{weather.main.humidity}}%</td>
              </tr>
              <tr>
                <td class="details-label">Pressure</td>
                <td class="details-value">{{weather.main.pressure}} hpa</td>
              </tr>
              <tr>
                <td class="details-label">Sunrise</td>
                <td class="details-value">{{weather.sys.sunrise *1000 | date:'H:mm'}} A.M</td>
              </tr>
              <tr>
                <td class="details-label">Sunset</td>
                <td class="details-value">{{weather.sys.sunset *1000 | date:'H:mm'}} P.M</td>
              </tr>
              <tr>
                <td class="details-label">Latitude</td>
                <td class="details-value">{{weather.coord.lat}}</td>
              </tr>
              <tr>
                <td class="details-label">Longitude</td>
                <td class="details-value"> {{ weather.coord.lon}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  