.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* choose a color that evokes the feeling of weather */
  /* background-image: url('e'); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: white;
  /* background: linear-gradient(to bottom, #FFC371, #FD746C, #FD746C, #3B9AB2); */

  animation: gradientAnimation 10s ease infinite;
}

.search-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.input-group {
  width: 80%;
}

.form-control {
  background-color: #FFFFFF;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.btn-primary {
  background-color: #000000e3; /* choose a contrasting color for the button */
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.25);
  text-align: center;
  margin-bottom: 1rem;
}

.temp-title {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.25);
  text-align: center;
  margin-bottom: 1rem;
}


.weather-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}



.temp-description {
  font-size: 2rem;
  margin-left: 2rem;
}

.weather-details {
  margin-bottom: 2rem;
}

.details-label {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 2rem;
}

.details-value {
  font-size: 2rem;
}

/* Set the height of the body to fill the entire viewport */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Set the height of the container to fill the entire body */
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
   /* choose a color that evokes the feeling of weather */
   /* optional - use a background image or pattern that complements the color scheme */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: white;
}

/* Add a hover effect to the search button */



/* Add a hover effect to the temperature section */
.weather-temp:hover {
  transform: scale(1.1); /* scale up the section on hover */
  transition: transform 0.2s ease-in-out; /* add a smooth transition effect */
}

.input-group {
  width: 300px; /* adjust the width to suit your needs */
  border-radius: 45px; /* add some border radius to the search bar */
}

.input-group-text {
  border-radius: 0 45px 45px 0;
  position: relative;
  top: -68.5px; 
  left: 285px;
  height: 69.5px;/* add some border radius to the search button */
}

/* Add a hover effect to the search button */
.btn-primary:hover {
  background-color: #f3f2f7;
  color: black; /* choose a contrasting color for the hover effect */
}

.clear-sky {
  background-image: url('../../assets/Climate/Clearsky.jpg');
}
.few-clouds {
  background-image: url('../../assets/Climate/FewClouds.jpg');
}
.scattered-clouds {
  background-image: url('../../assets/Climate/ScatteredClouds.jpg');
}
.broken-clouds {
  background-image: url('../../assets/Climate/Brokenclouds.jpeg');
}
.shower-rain {
  background-image: url('../../assets/Climate/Showerrain.jpg');
}
.rain {
  background-image: url('../../assets/Climate/Rain.jpg');
}
.thunderstorm {
  background-image: url('../../assets/Climate/Thunderstorm.jpg');
}
.snow {
  background-image: url('../../assets/Climate/Snow.jpg');
}
.mist {
  background-image: url('../../assets/Climate/Mist.jpg');

}

body {
  background: linear-gradient(to bottom, #0072c6, #90d5e6, #d5edf9, #FFFFFF);
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  
  .top-right-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .top-right-button a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  .top-right-button a:hover {
    background-color: #f2f2f2;
  }

  /* Remove borders and add some spacing */
.table-borderless {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.table-borderless td, .table-borderless th {
  border: none;
  padding: 0.5rem;
}

/* Add hover effect */
.table-borderless tbody tr:hover {
  background-color: #F5F5F5;
}

/* Add pulsating animation */
.table-borderless tbody tr:hover {
  animation: beat 1s ease-in-out infinite;
 
}
table.table-borderless td {
  text-align: center;
  font-weight: bold;
}



@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Add some text styles */
.table-borderless td, .table-borderless th {
  font-size: 1.1rem;
  font-weight: 400;
  color: #333;
  text-align: left;
}

.details-label {
  font-weight: 600;
  color: #6c757d;
}

.details-value {
  font-weight: 500;
}
