


<head>
 
  
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arvo'>
    
  </head>
  
  <body>
  
    <section class="page_404">
    <div class="container">
      <div class="row"> 
      <div class="col-sm-12 ">
      <div class="col-sm-10 col-sm-offset-1  text-center">
      <div class="four_zero_four_bg">
        
      
      
      </div>
      
      <div class="contant_box_404">
        <div class="main">
            <span class="number">4</span>
            <span class="letter"></span>
            <span class="number">4</span>
        </div>
      <h3 class="h2">
        Oops, Look like you're lost
      </h3>
      
      <p> Grandpa's attempt at fixing our website was electrifying, but not in a good way. We'll have it fixed in a jiffy!</p>
      
      <a href="http://localhost:4200/home" class="link_404">Home</a>
    </div>
      </div>
      </div>
      </div>
    </div>
  </section>


  
  
