<div class="register-container">
    <div class="register-image">
      <img src="https://images.pexels.com/photos/839462/pexels-photo-839462.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width:
      100%; height:100%" alt="Registration Image">
    </div>
    <div class="register-form">
      <h2 class="register-header">Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="this.FirstName.invalid">{{getFirstNameErrors()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="this.LastName.invalid">{{getLastNameErrors()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="this.Email.invalid">{{getEmailErrors()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.PWD.invalid">{{getPasswordErrors()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Repeat Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="rpassword" >
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <!-- <mat-error *ngIf="this.RPassword.hasError('rpassword')">
            Must be same as Password.
        </mat-error> -->
        </mat-form-field>
        <button mat-flat-button color="primary" class="create-account-btn" 
        [ngStyle]="{ 'opacity': registerForm.invalid ? 0.5 : 1 }">
          Create Account
        </button>
      </form>
      <div class="login-link">
        <span>Already have an account?</span>
        <button mat-stroked-button color="accent" routerLink="/login">Log in</button>
      </div>
    </div>
  </div>
  